@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital@1&display=swap');

.courier-prime-regular-italic {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: italic;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #edeaff;
}

.stopwatch{
  width: 90%;
  max-width: 600px;
  background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),url(bg.jfif);
  background-position: cover;
  background-position: center;
  text-align: center;
  padding: 40px 0;
  color: #fff;
  margin: 20px auto 0;
  box-shadow: 0 10px 10px rgba(0,0,0,0.2);
}

.stopwatch h1{
  margin-top: 60px;
  font-size: 64px;
  font-weight: 300;
  margin-bottom: 50px;
}

.buttons{
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons img{
  width: 50px;
  margin: 0 20px;
  cursor: pointer;
  border-radius: 40%;
}

.buttons img:nth-child(3){
  width: 70px;
  border-radius: 40%;
  margin-left: 10px;
}

.buttons img:nth-child(2){
  width: 80px;
}
